<!DOCTYPE html>
<html>
<head>
    <title>ThreatGuard AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>🛡️ ThreatGuard AI</h1>
    <p class="subtitle">
        AI-Powered Phishing URL & Malicious Email Detection System
    </p>

    <div class="card-container">
        <div class="card">
            <h2>🔗 Phishing URL Detection</h2>
            <p>Detect malicious and phishing websites using AI</p>
            <a href="/url" class="btn">Check URL</a>
        </div>

        <div class="card">
            <h2>📧 Email Threat Detection</h2>
            <p>Identify spam and phishing emails using NLP</p>
            <a href="/email" class="btn">Check Email</a>
        </div>
    </div>

    
    <div class="bottom-link">
        <a href="/about" class="about-link">About ThreatGuard AI</a>
    </div>
</div>

</body>
</html>
<!-- <!DOCTYPE html>
<html>
<head>
    <title>ThreatGuard AI</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>🛡️ ThreatGuard AI</h1>
    <p class="subtitle">
        AI Powered Phishing URL & Malicious Email Detection System
    </p>

    <div class="card-container">
        <div class="card">
            <h2>🔗 Phishing URL Detection</h2>
            <p>Detect malicious and phishing websites using AI</p>
            <a href="/url" class="btn">Check URL</a>
        </div>

        <div class="card">
            <h2>📧 Email Threat Detection</h2>
            <p>Identify spam and phishing emails using NLP</p>
            <a href="/email" class="btn">Check Email</a>
        </div>
    </div>
</div>

</body>
</html> -->
